<div class='container m-5'>
  <h1>List of Products</h1>
  <table class='table table-primary table-striped'>
    <thead>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Price</th>
        <th scope='col'>Thumbnail</th>
        <th scope='col'>Action</th>
      </tr>
    </thead>
    <tbody id='tablaProds'>
    </tbody>
  </table>
  <a href='/' class='btn btn-lg btn-info' role='button'><i
      class='bi-house-fill'
    ></i>Home</a>
</div>